@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Poppins, "Helvetica Neue", sans-serif;
    scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: #84CEEB4D;
}
*::-webkit-scrollbar-thumb {
    background: #5680E96D;
    border-radius: 10px;
}